{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}COVADEV{% endblock %}</title>

  <!-- Main App CSS -->
  <link rel="stylesheet" href="{% static 'css/app.css' %}">

  {% block extra_css %}{% endblock %}
</head>
<body>

  <!-- =========================
       TOP NAVBAR
  ========================= -->
  <header class="nav">
    <div class="nav-left">
      <span class="logo">COVADEV</span>
    </div>

    <nav class="nav-right">
      <a href="/projects/">Projects</a>
      <a href="/reports/">Reports</a>

     {% if user.is_authenticated %}
      <span class="username">{{ user.username }}</span>

          <a href="/accounts/register/" class="btn-logout">Logout</a>
    {% endif %}


    </nav>
  </header>

  <!-- =========================
       PAGE CONTENT
  ========================= -->
  <main class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert {{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
  </main>

  {% block extra_js %}{% endblock %}
</body>
</html>
